@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
:root {
  --primary-light: #fff;
  --secondary-light: #b2bec3;
  --tertiary-light: #2d3436;
  --accent-light: #2d3436;
  --primary-dark: #222;
  --primary-white: #eaf0f1;
  --primary-blue: #6c5ce7;
}
.bgtest {
  background-color: brown;
}
body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}
.root {
  width: 100%;
  height: 100%;
  padding-top: 15vh;
}
.m-0 {
  margin: 0px;
}
.p-0 {
  padding: 0px;
}
.mt-2 {
  margin-top: 2rem;
}
.btn {
  padding: 10px 20px;
}
.container {
  width: 80vw;
  margin: 0px auto;
  /* background-color: blueviolet; */
}
.name {
  color: var(--primary-blue);
  font-size: 1.5em;
}
a,
a:hover {
  text-decoration: none;
}
p {
  color: var(--accent-light);
  margin: 5px 0px;
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 500;
}
.social-icons,
.social-icons-contact {
  color: var(--primary-blue);
  font-size: 2.5rem;
  margin: 10px;
}
.social-icons:hover,
.social-icons-contact:hover {
  color: var(--primary-dark);
  transform: translate(-3px, -3px);
  transition: 0.5s ease;
}

/* css for header */
header {
  height: 10vh;
  width: 100%;
  display: flex;
  background-color: var(--primary-light);
}
nav {
  display: flex;
  width: 100%;
  color: black;
  justify-content: space-around;
  position: fixed;
  background-color: var(--primary-light);
  z-index: 5;
}
nav > div {
  display: flex;
  align-items: center;
}
.nav-link {
  margin: 0px 10px;
}

/* css for home page */
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.intro-line {
  font-size: 3rem;
  font-weight: bolder !important;
}
.home > div > p {
  font-size: 1.5rem;
}
.social-media {
  display: flex;
  justify-content: center;
}

/* css for about page */
.about {
  display: flex;
  flex-direction: column;
}
.about-section {
  margin-bottom: 25px;
}
.chip {
  background-color: blueviolet;
  padding: 5px 10px;
  margin: 0px 10px 10px 0px;
  border-radius: 5px;
  color: white;
}

.chip:hover {
  background-color: var(--primary-light);
  color: var(--primary-blue);
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.text-wrap {
  max-width: 100%;
  list-style: none;
  padding: 0px;
}
.text-wrap li {
  display: inline-block;
}

/* css for work */
.workcard {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--tertiary-light);
  padding: 20px 0px;
  margin-top: 100px;
}
.work-image {
  height: auto;
  width: 600px;
}
.work-image:hover {
  transform: translate(-4px, -4px);
  transition: 0.1s ease-in;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

/* css for blog */
.row {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.blog-card {
  width: 50%;
  margin-top: 100px;
  border-bottom: 1px solid var(--tertiary-light);
}
.blog-image {
  width: 75%;
}
.blog-image:hover {
  transform: translate(-3px, -3px);
  transition: 0.2s ease-in;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

/* css for contact page */
.social-media-contact {
  display: flex;
}
.social-icons-contact {
  margin: 0px;
  margin-top: 10px;
  margin-right: 10px;
}
